{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1 style="color:blue; text-align:center; padding:10px">Songlist</h1>

<a href="{% url 'song_form' %}" class="btn btn-primary btn-block">Add Song</a>

<div style="background-color:lightblue; padding: 15px" class="row">
{% for song in songs %}
    <div class="col-md-3" style="padding:20px">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ song.media.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ song.title }}</h5>
                <p class="card-text">{{ song.artist }}</p>
                <a href="{% url 'song_detail' song.pk %}"
                   class="btn btn-primary">
                    Details
                </a>
                </br>
                <a href="delete/{{ song.pk }}" class="btn btn-danger btn-sm" style="float: right;">DELETE</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}